html{
    box-sizing:border-box;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    background: #2C2141;
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background: #F8F8F8;
    border-radius: 16px;
    padding: 32px;
    width: 624px;
    margin: 16px;
    
}

.person{

}
.person__description{
    font-size: 16px;
}

.person__name{
    font-size: 36px;
    font-weight: normal;
    margin: 0;
}

.person__position{
    font-weight: 18px;
    font-style: italic;
    margin: 0;
    color: #545454;
}

.special{
    font-weight: normal;
    color:#ED6D05;
}